body {
	overflow-y: visible !important; 	/* Kleiner Bugfix, damit das Menü auf der normalen Seite immer sichtbar bleibt, auch wenn man es auf der Mobilen ausblendet */
	margin: auto;
}

#centering {
	width: 1160px;					/* Seite soll für 1280px Breite obtimiert sein (1160 Breite + 50 Padding links + 50 Padding rechts + 20 für eventuelle Scrollbar) */
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -10px;
}

#header {
	height: 120px;
}

#smallmenu {
	margin-top: -100px;
	margin-left: 670px;
	width: 500px;
	text-align: right;				/* Menüs werden rechts zentriert */
	font-size: 0.75em;				/* Kleines Menü -> Kleinerer Text */
}

#menu {
	display: block !important; 		/* Kleiner Bugfix, damit das Menü auf der normalen Seite immer sichtbar bleibt, auch wenn man es auf der Mobilen ausblendet */
	margin-left: 370px;
	width: 800px;
	text-align: right;
	font-size: 1.25em;				/* Hauptmenü -> Größerer Text */
}

#bigbox {
	width: 700px;
}

#smallboxtop {
	width: 375px;
	margin-top: -400px;
	margin-left: 730px;
}

	#smallboxtop a {
		color: #FFFFFF;
	}	
	

#smallboxbot {
	margin-top: 10px;
	width: 375px;
	margin-left: 730px;
}

#contentline {
	margin-top: 50px;
	margin-left: 100px;
}

#content {
	margin-left: 250px;
	margin-top: -165px;
	width: 800px;
}