body {
	overflow: visible !important;
}

#centering {
	width: 1180px;
	margin: auto;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -10px;
	background-color: #EEEEEE;
}

#header {
	height: 120px;
}

#smallmenu {
	margin-top: -100px;
	margin-left: 500px;
	width: 500px;
	text-align: right;
	font-size: 0.75em;
}

#menu {
	margin-left: 500px;
	width: 500px;
	text-align: right;
	font-size: 1.25em;
}

#bigbox {
	width: 600px;
}

#smallboxtop {
	width: 325px;
	height: 190px;
	margin-top: -400px;
	margin-left: 650px;
}

#smallboxtop a {
	color: #FFFFFF;
}	

#smallboxbot {
	margin-top: 10px;
	width: 325px;
	height: 160px;
	margin-left: 650px;
}

#content {
	margin-top: 2.5%;
	width: 100%;
}

#footer {
	border-top: 1px solid #000000;
	color: #bdbdbd;
	width: 100%;
	margin-top: 25px;
	position: relative;
}