/* Andere Schriftart und größere Schrift */
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.2em;
	overflow-x: hidden;
}

/* Große, graue Überschrift */
h1 {
	color: #a7a7a7;
	font-size: 1.5em;
}

/* Kleinere, orange Überschrift */
h2 {
	color: #DF6301;
	font-size: 1.2em;
	font-weight: bold;
}

/* Kleine, orange Überschrift */
h3 {
	margin-top: 50px;
	color: #DF6301;
	font-size: 1em;
}




/* Blendet mobile Elemente aus (werden in portrait.css wieder eingeblendet) */
.mobile {
	display: none;
}

/* Orangener Trenner (Slash/Schrägstrich) */
.selected, .spacer {
	color: #DF6301 !important;
}

/* Graues Menü */
.menu {
	color: #a7a7a7;
	font-weight: bold;
}

/* Menü wird in einer Zeile dargestellt mit einem Abstand zwischen den Elementen */
.menu li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

/* Keine Unterstreichung bei Links */
.menu a {
	color: #a7a7a7;
	text-decoration: none;
}

/* Schiebt das Logo des Footers über die Trennlinie */
.footerlogo {
	margin-top: -50px !important;
}




/* Zentriert Page in der Mitte, bei größeren Displays */
#centering {
	background-color: #F0F0F0;
	margin: auto;
}

/* Das Logo wird 2x über eine DIV-Box eingebunden */
#logo {
	background-image: url("../img/logo.png");
    background-repeat: no-repeat;
	margin-top: 20px;
	width: 400px;
	height: 100px;
}

/* Große Box mit Hintergrundbild */
#bigbox {
	background-color: #000000;
	border-radius: 20px;
	background-image: url("../img/cat.jpg");
	background-position: center;
    background-repeat: no-repeat;
	height: 400px;
}

/* Kleine Box für Informationen (grauer Hintergrund) */
#smallboxtop {
	background-color: #888888;
	border-radius: 20px;
	color: #FFFFFF;
	height: 190px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 50px;
}

	#smallboxtop a {
		color: #FFFFFF;
	}	

	#smallboxtop p {
		margin-bottom: -20px;
	}
	

/* Kleine Box für Informationen (oranger Hintergrund) */
#smallboxbot {
	background-color: #DF6301;
	border-radius: 20px;
	color: #FFFFFF;
	height: 165px;
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 50px;
}

/* Erzeugt (leicht abgerundete) orangene Linie vor Textcontent */
#contentline{
	background: #DF6301; 
	border-radius: 3px;
	height: 150px; 
	width: 10px;
}

/* Eigentlicher Text/Inhalt der Seite */
#content {
	margin-bottom: 150px;
	min-height: 300px;
}

/* Footer mit kleiner grauer Trennlinie */
#footer {
	border-top: 1px solid #888888;
	color: #a7a7a7;
	width: 100%;
	margin-top: 25px;
	position: relative;
	font-weight: normal !important;
}